@import url("https://use.typekit.net/xwb3qfr.css");
:root {
	--nike-light-black: #2b3139;
	--nike-dark-blue: #181a20;
	--nike-golden: #f0b90b;
	--nike-golden-hover: #ffca1c;
	--nike-golden-active: #ddab08;
}

* {
	font-family: acumin-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0;
	margin: 0;
	text-underline-offset: 0.2em;
	box-sizing: border-box;
}
body {
	background-color: black;
}
/*CONTACT-FORM*/ /*CONTACT-FORM*/ /*CONTACT-FORM*/

.contact-head {
	color: white;
	padding: 5% 0 5% 10%;
}
.form-input-container {
	display: flex;
	justify-content: center;
	padding-bottom: 25px;
}
.form-input,
.form-textarea {
	width: 90%;
	max-width: 300px;
	line-height: 35px;
	color: white;
	background-color: var(--nike-dark-blue);
	border: 0px;
	border-radius: 5px;
	padding-left: 3%;
	font-size: 1rem;
}
.form-textarea {
	line-height: 0.8rem;
	padding-top: 3%;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: white;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: white;
}
.form-submit-button {
	width: 90%;
	max-width: 400px;
	background-color: var(--nike-golden);
	padding: 14px 28px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

@media screen and (min-width: 375px) {
	.form-textarea,
	.form-input {
		max-width: 400px;
		line-height: 50px;
		font-size: 1rem;
	}
	.form-textarea {
		line-height: 15px;
	}
}

/*CONTACT-FORM*/ /*CONTACT-FORM*/ /*CONTACT-FORM*/

/*INFO SECTION*/ /*INFO SECTION*/ /*INFO SECTION*/

.info-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.info-rectangle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90%;
	max-width: 350px;
	height: 15vh;
	max-height: 120px;
	background: var(--nike-dark-blue);
	border-radius: 15px;
	margin: 25px 0;
}

.info-head {
	color: var(--nike-golden);
	text-align: center;
}
.info-text {
	color: #ffffff;
	text-align: center;
}
.info-img {
	width: 75px;
	margin-right: 5%;
}

.phone {
	margin-right: 20%;
}

.phone .info-head {
	font-size: 1.8em;
}

.phone-img {
	margin-right: 15%;
}
.email-img {
	margin-right: 10%;
}
.email {
	margin-right: 10%;
}

@media screen and (min-width: 350px) {
	.hours {
		margin-right: 10%;
	}
	.phone {
		margin-right: 15%;
	}
	.phone-img {
		margin-right: 20%;
	}
	.email-img {
		margin-left: 5%;
	}
}

/*INFO SECTION*/ /*INFO SECTION*/ /*INFO SECTION*/ /*INFO SECTION*/ /*INFO SECTION*/ /*INFO SECTION*/

/* MAP SECTION */ /* MAP SECTION */ /* MAP SECTION */

.meet-here {
	border-radius: 15px 15px 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #242f3e;
}
.meet-here-icon {
	width: 75px;
	margin: 2% 2% 2% 0%;
}
.meet-here-text {
	color: white;
	font-size: 1.2rem;
}

hr {
	background-color: #f0b90b;
	height: 1px;
	border: none;
}
#map {
	height: 40vh;
	max-height: 400px;
}

@media screen and (min-width: 350px) {
	.meet-here-icon {
		margin: 2% 5% 2% 0%;
	}
	.meet-here-text {
		font-size: 1.3rem;
	}
}
