/*CONTACT_SECTION*/ /*CONTACT_SECTION*/ /*CONTACT_SECTION*/
.contact-section {
	height: auto;
	min-height: 280px;
	background-color: black;
	padding: 1vh 1vh 1vh 1vh;
}
.open-hours {
	width: 90vw;
	max-width: 367px;
	height: 13vh;
	max-height: 120px;
	margin: 2vh auto;

	background: #181a20;
	border-radius: 15px;
}
.open-hours-header {
	margin-left: 40%;
	font-size: 2.5vh;

	color: var(--nike-golden);
}
.open-hours-text {
	margin-top: 10px;
	margin-left: 9vh;
	font-size: 2vh;
	line-height: 25px;
	text-align: center;

	color: #ffffff;
}
.open-hours-img {
	margin: -5.3rem 0 0 0.2vh;
}
