@import url("https://use.typekit.net/xwb3qfr.css");
:root {
	--nike-light-black: #2b3139;
	--nike-dark-blue: #181a20;
	--nike-golden: #f0b90b;
	--nike-golden-hover: #ffca1c;
	--nike-golden-active: #ddab08;
}
* {
	scroll-behavior: smooth;
}

/*FOOTER*/ /*FOOTER*/ /*FOOTER*/

.footer {
	background-color: var(--nike-dark-blue);
	display: flex;
	margin-top: 5vh;
	padding: 5vw 0;
	justify-content: center;
}

.offer-page {
	background-color: var(--nike-light-black);
}
.footer-icon-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 3vw;
	cursor: pointer;
}
.contact-icon-container:hover > .footer-button-wrapper > .footer-button {
	background-color: var(--nike-golden-hover);
}
.contact-icon-container:active > .footer-button-wrapper > .footer-button {
	background-color: var(--nike-golden-active);
}

.footer-icon-container:hover > .footer-text {
	color: var(--nike-golden);
}
.footer-icon {
	width: 50px;
	height: 50px;
}
.footer-text {
	color: white;
	text-align: center;
	width: 100%;
}
.footer-button-wrapper {
	width: 100%;
}
.footer-button {
	display: block;
	margin: 0 auto;
	margin-top: 1vh;
	background-color: var(--nike-golden);
	border: 0px;
	border-radius: 3px;
	padding: 3px;
	width: 65px;
}

@media screen and (min-width: 800px) {
	.footer {
		margin-top: 5vh;
		padding: 2vw 0;
	}
	.footer-icon-container {
		margin: 0 3vw;
	}
	.footer-icon {
		width: 75px;
		height: 75px;
	}
	.footer-text {
		font-size: 1.2em;
	}
	.footer-button {
		font-size: 1.2em;
		margin-top: 1vh;
		width: 80px;
	}
}
@media screen and (min-width: 1400px) {
	.footer {
		margin-top: 5vh;
		padding: 1vw 0;
	}
	.footer-icon-container {
		margin: 0 3vw;
	}
}

/*FOOTER*/ /*FOOTER*/ /*FOOTER*/
