@import url("https://use.typekit.net/xwb3qfr.css");
:root {
	--nike-light-black: #2b3139;
	--nike-dark-blue: #181a20;
	--nike-golden: #f0b90b;
	--nike-golden-hover: #ffca1c;
	--nike-golden-active: #ddab08;
}

* {
	font-family: acumin-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0;
	margin: 0;
	text-underline-offset: 0.2em;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

button:hover {
	background-color: var(--nike-golden-hover);
}
button:active {
	background-color: var(--nike-golden-active);
}

/*POP-UP*/ /*POP-UP*/ /*POP-UP*/

.pop-up-section {
	position: fixed;
	overflow: hidden;
	background-color: #fff;
	top: 50;
	bottom: 1;
	z-index: 15;
	margin: 0 5vw;
	box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.5);
}

.close-button {
	position: absolute;
	right: 20px;
	font-size: 2.5em;
	left: initial;
}
.pop-up-head {
	text-decoration: underline;
	text-decoration-color: var(--nike-golden);
	padding-top: 10vh;
	margin-bottom: 3vh;
	text-align: center;
	font-size: 2em;
}
.pop-up-text {
	font-size: 1.4em;
}
.pop-up-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3vh;
}
.pop-up-offer {
	text-align: center;
}

.pop-up-buttons-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.pop-up-buttons-container .call-us-button {
	margin: 0px;
	margin-top: 10%;
}
.close-text {
	width: 100%;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: var(--nike-golden);
	text-decoration-thickness: 2px;
	margin: 10% 0;
	cursor: pointer;
}

@media screen and (min-width: 575px) {
	.pop-up-section {
		width: 80%;
		left: 30%;
		top: 50%;
		transform: translate(-30%, -50%);
	}
	.pop-up-head {
		font-size: 2.5em;
	}
	.pop-up-text {
		margin-right: 3%;
		font-size: 1.8em;
	}
	.pop-up-offer {
		font-size: 1.2em;
	}
	.close-text {
		font-size: 1.2em;
	}
	.pop-up-buttons-container .call-us-button {
		height: 50px;
		width: 160px;
		font-size: 1.2em;
	}
}

@media screen and (min-width: 900px) {
	.pop-up-section {
		width: 50%;
		max-width: 650px;
		left: 40%;
		top: 50%;
		transform: translate(-40%, -50%);
	}
}

/*POP-UP*/ /*POP-UP*/ /*POP-UP*/

/*INVITE_SECTION*/ /*INVITE_SECTION*/ /*INVITE_SECTION*/
.background-color-wrapper {
	background-color: black;
}

.invite-section {
	height: 200px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.invite-success-img {
	width: 50%;
	max-height: 200px;
	padding: 20px;
}
.invite-container {
	width: 50%;
	padding: 20px;
	padding-left: 5%;
}

.invite-text {
	font-size: 1em;
	color: #ffffff;
	width: 100%;
}

.call-us-button {
	width: 120px;
	height: 35px;
	background-color: var(--nike-golden);
	padding: 6px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	margin-top: 20px;
}
.call-us-button:hover {
	background-color: rgb(255, 217, 0);
}

.call-us-button a:visited,
.call-us-button a:link,
.call-us-button a:hover {
	color: black;
	text-decoration: none;
}

@media screen and (max-width: 370px) {
	.invite-text {
		font-size: 0.9em;
		padding-right: 0;
	}
	.invite-success-img {
		padding-left: 0;
	}
}

/*Tablet sizes*/ /*Tablet sizes*/ /*Tablet sizes*/

@media screen and (min-width: 760px) {
	.invite-container {
		width: 50%;
		padding-right: 0px;
	}
	.invite-text {
		font-size: 1.2em;
	}

	.invite-success-img {
		max-width: 300px;
		padding-left: 0px;
	}
}

/*Desktop sizes*/ /*Desktop sizes*/ /*Desktop sizes*/
@media screen and (min-width: 1000px) {
	.invite-section {
		padding-top: 1.5rem;
		height: 320px;
	}
	.invite-text {
		font-size: 1.5em;
		text-decoration: underline;
		text-decoration-color: var(--nike-golden);
	}
	.invite-container {
		width: 40%;
		padding-top: 50px;
		padding-left: 2%;
		margin-right: 5%;
	}
	.invite-success-img {
		max-width: 350px;
		max-height: 280px;
		padding-top: 0px;
		margin-top: 20px;
	}
	.call-us-button {
		width: 180px;
		height: 50px;
		background-color: var(--nike-golden);
		font-size: 24px;
	}
}

@media screen and (min-width: 1300px) {
	.invite-container {
		width: 50%;
		max-width: 750px;
		padding-top: 30px;
		padding-left: 5%;
	}
	.invite-text {
		font-size: 1.8em;
	}
	.call-us-button {
		margin-top: 40px;
	}
}

/*INVITE_SECTION*/ /*INVITE_SECTION*/ /*INVITE_SECTION*/

/*ABOUT_US_SECTION*/ /*ABOUT_US_SECTION*/ /*ABOUT_US_SECTION*/

.about-us-section {
	border-radius: 30px 30px 0px 0px;
	background: white;
}

.about-us-text {
	padding: 0 5vw;
	font-size: 18px;
	text-align: center;
}

.about-us-head {
	text-decoration: underline;
	text-decoration-color: var(--nike-golden);
	padding-top: 3vh;
	margin-bottom: 5vh;
	text-align: center;
	font-size: clamp(1rem, 7vw, 2.2rem);
}
.about-us-container {
	display: flex;
	align-items: center;
	border: 3px solid white; /* for deleting weird  .background-color-wrapper border bug */
}

.competition-text {
	padding: 0 3vw;
	font-size: 18px;
}
.competition-image {
	width: 50%;
	max-height: 200px;
	max-width: 250px;
	padding: 0 3vw;
}

/*Mobile sizes*/ /*Mobile sizes*/ /*Mobile sizes*/
@media screen and (max-width: 400px) {
	.competition-text {
		font-size: 16px;
	}
}
/*Tablet sizes*/ /*Tablet sizes*/ /*Tablet sizes*/
@media screen and (min-width: 500px) {
	.competition-text {
		text-align: center;
		padding-left: 10vw;
		font-size: 1.2em;
	}
	.about-us-text {
		font-size: 1.2em;
	}
}
/*Desktop sizes*/ /*Desktop sizes*/ /*Desktop sizes*/
@media screen and (min-width: 1000px) {
	.about-us-head {
		padding-top: 12vh;
		margin-bottom: 5vh;

		font-size: 3rem;
	}
	.about-us-text {
		padding: 0 20vw;
		font-size: 1.5em;
	}

	.about-us-container {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 3px solid white; /* for deleting weird  .background-color-wrapper border bug */
	}

	.competition-text {
		padding: 0 0 0 5vw;
		font-size: 1.5em;
		max-width: 1000px;
	}
	.competition-image {
		max-height: 300px;
		max-width: 300px;
	}
}
@media screen and (min-width: 1400px) {
	.about-us-text {
		padding: 0 30vw;
	}
	.competition-text {
		padding: 0 0vw;
	}
	.competition-image {
		max-height: 300px;
		max-width: 350px;
	}
}

/*ABOUT_US_SECTION*/ /*ABOUT_US_SECTION*/ /*ABOUT_US_SECTION*/

/*Circle-section*/ /*Circle-section*/ /*Circle-section*/

.circles-head {
	padding: 5vh 0;
	margin-top: 30px;
	text-align: center;
	font-size: clamp(0.5rem, 7vw, 2.5rem);
	text-decoration: underline;
	text-decoration-color: var(--nike-golden);
	background-color: var(--nike-dark-blue);
	color: white;
	border-radius: 30px 30px 0 0;
}

section.animated-circles {
	padding: 0vw 0 10vw 0;
	margin: auto;
	text-align: center;
	background-color: var(--nike-dark-blue);
	border-radius: 0 0 30px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.circle-container {
	width: 33.3%;
	min-width: 320px;
	max-width: 450px;
	margin: 2%;
}

.circular {
	margin: auto;
	width: 50%;
	height: 150px;
	width: 150px;
	position: relative;
}
.inner {
	position: absolute;
	z-index: 6;
	top: 50%;
	left: 50%;
	height: 140px;
	width: 140px;
	margin: -70px 0 0 -70px;
	background: #181a20;
	border-radius: 100%;
}
.number-years,
.number-clients,
.number-optimisation {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	font-size: 2.5em;
	font-weight: 500;
	color: #fff;
}
.bar {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #181a20;
	border-radius: 100%;
	-webkit-border-radius: 100%;

	clip: rect(0px, 150px, 150px, 75px);
}

.circle-text {
	color: #fff;
	margin: auto;
	font-size: 1.5em;
	margin: 20px 0 70px 0;
}

.bar .progress {
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	clip: rect(0px, 75px, 180px, 0px);
	background: #f0b90b;
}
.left-clients,
.left-years,
.left-optimisation {
	z-index: 1;
}

@keyframes left {
	100% {
		transform: rotate(180deg);
	}
}
.right-clients,
.right-years,
.right-optimisation {
	transform: rotate(180deg);
	z-index: 3;
}

@keyframes right {
	100% {
		transform: rotate(180deg);
	}
}

@media screen and (min-width: 375px) {
	.circular {
		height: 195px;
		width: 196px;
	}
	.inner {
		height: 183px;
		width: 183px;
		margin: -91px 0 0 -91px;
	}
	.number-years,
	.number-clients,
	.number-optimisation {
		font-size: 3em;
	}
	.bar {
		clip: rect(0px, 195px, 195px, 97.5px);
	}

	.circle-text {
		font-size: 1.7em;
	}
	.circle-text.one-line {
		line-height: 78px;
	}
	.bar .progress {
		clip: rect(0px, 97.5px, 234px, 0px);
	}
}

@media screen and (min-width: 1000px) {
	section.animated-circles {
		padding: 5vw 0;
	}
	.circles-head {
		margin-top: 25vh;
		font-size: clamp(0.5rem, 7vw, 3rem);
		text-decoration: underline;
		text-decoration-color: var(--nike-golden);
	}
}

@media screen and (min-width: 1400px) {
	/*175% of original mobile size*/
	.circular {
		margin: auto;
		width: 50%;
		height: 262.5px;
		width: 262.5px;
	}
	.inner {
		height: 250px;
		width: 250px;
		margin: -125px 0 0 -125px;
	}

	.bar {
		clip: rect(0px, 262.5px, 262.5px, 131.25px);
	}
	.bar .progress {
		clip: rect(0px, 131.25px, 315px, 0px);
	}
	.number-years,
	.number-clients,
	.number-optimisation {
		font-size: 3.5em;
	}
}
/*Circle-section*/ /*Circle-section*/ /*Circle-section*/

/*NEW_BUSINESSES_SECTION*/ /*NEW_BUSINESSE_SECTION*/ /*NEW_BUSINESSE_SECTION*/

.startup-bussineses-img {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.startup-head {
	text-decoration: underline;
	text-align: center;
	text-decoration-color: var(--nike-golden);
	margin: 5vh 0 5vh 0;
	font-size: clamp(0.5rem, 7vw, 2.5rem);
}
.startup-text {
	margin-left: auto;
	text-align: center;
	font-size: 16px;
	max-width: 100%;
	padding: 5%;
	background-size: cover;
}

.startup-rectangle-container {
	display: flex;
	flex-wrap: wrap;
}

.startup-rectangle {
	width: 80vw;
	height: 19vh;
	max-width: 300px;
	min-height: 130px;
	max-height: 140px;
	margin: auto;
	border: 3px solid var(--nike-golden);
	border-radius: 20px;

	margin-bottom: 8vw;
}
.startup-icon img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	max-width: 25%;
}
.startup-icon {
	padding-top: 3%;
}

#middle-icon {
	padding-top: 0px;
}
.middle-text {
	padding-top: 0px;
}

.startup-rectangle-text {
	text-align: center;
	padding: 2% 5% 0 5%;
}

.startup-button-container {
	margin: auto;
	width: 80%;
	display: flex;
	justify-content: center;
}

.startup-call-us-button a:visited,
.startup-call-us-button a:link,
.startup-call-us-button a:hover {
	color: black;
	text-decoration: none;
}

.startup-offer-button a:visited,
.startup-offer-button a:link,
.startup-offer-button a:hover {
	color: white;
	text-decoration: none;
}
.startup-offer-button,
.startup-call-us-button {
	width: 120px;
	background-color: var(--nike-golden);
	padding: 14px 28px;
	font-size: 16px;
	line-height: 8px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	margin: 1rem 0 3rem 0;
}

.startup-offer-button {
	margin-left: 5vw;
	color: white;
	background-color: var(--nike-light-black);
}

.startup-call-us-button:hover {
	background-color: #ffc70f;
}
.startup-offer-button:hover {
	background-color: #343d49;
}
/*NEW_BUSINESSES_SECTION*/ /*NEW_BUSINESSE_SECTION*/ /*NEW_BUSINESSE_SECTION*/

/*REFFERAL-PROGRAM*/ /*REFFERAL-PROGRAM*/ /*REFFERAL-PROGRAM*/

.refferal-head {
	text-decoration: underline;
	text-align: center;
	text-decoration-color: var(--nike-golden);
	margin: 8vw;
}
.refferal-container {
	margin: auto;
	display: flex;
	justify-content: center;
}

.refferal-text {
	padding-right: 5vw;
	width: 60%;
}
.refferal-icon {
	padding-bottom: 2vw;
}

/*REFFERAL-PROGRAM*/ /*REFFERAL-PROGRAM*/ /*REFFERAL-PROGRAM*/

/*COOKIES*/ /*COOKIES*/ /*COOKIES*/

.cookies-banner-section {
	background-color: var(--nike-dark-blue);
	position: fixed;
	z-index: 10;
	width: 100%;
	bottom: 0;
}

.cookies-banner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	color: white;
	padding: 5vw;
}
.cookies-text a,
.cookies-text a:active,
.cookies-text a:visited,
.cookies-text a:hover {
	color: var(--nike-golden);
}

.cookies-button {
	margin-top: 5%;
	width: 120px;
	padding: 3px;
	background-color: #f0b90b;
	font-size: 16px;
	border: none;
	border-radius: 5px;
}
.cookies-button:hover {
	background-color: #ffc70f;
}
/*COOKIES*/ /*COOKIES*/ /*COOKIES*/
