@import url("https://use.typekit.net/xwb3qfr.css");
:root {
	--nike-light-black: #2b3139;
	--nike-dark-blue: #181a20;
	--nike-golden: #f0b90b;
	--nike-golden-hover: #ffca1c;
	--nike-golden-active: #ddab08;
}

* {
	font-family: acumin-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0;
	margin: 0;
	text-underline-offset: 0.2em;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	background-color: var(--nike-dark-blue);
}

/*VALUATION SECTION*/ /*VALUATION SECTION*/ /*VALUATION SECTION*/ /*VALUATION SECTION*/

.free-valuation {
	background-color: #000;
	border-radius: 0 0 50px 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.free-valuation-head {
	font-size: 1.5em;
	margin: 10% 0;
	color: white;
	width: 90%;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: var(--nike-golden);
}

.free-valuation-container {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100%;
	padding: 0 5% 5% 5%;
}

.free-valuation-text {
	color: white;
	padding-right: 3%;
	font-size: 1.2em;
}

.free-valuation-img {
	width: 75px;
	height: 75px;
}
.call-us-button {
	width: 120px;
	background-color: var(--nike-golden);
	padding: 5px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	margin-bottom: 5%;
}

@media screen and (min-width: 720px) {
	.free-valuation-head {
		margin: 5% 0;
		font-size: 1.8em;
	}

	.free-valuation-container {
		width: 100%;
		padding: 0 5% 1rem 5%;
	}

	.free-valuation-text {
		font-size: 1.4em;
	}
}
@media screen and (min-width: 1200px) {
	.free-valuation-head {
		margin: 3% 0;
		font-size: 2.4rem;
	}

	.free-valuation-container {
		width: 100%;
		padding: 0 5% 1rem 5%;
	}
	.free-valuation-img {
		width: 100px;
		height: 100px;
	}

	.free-valuation-text {
		font-size: 1.5em;
	}
	.call-us-button {
		width: 160px;
		font-size: 1.4em;
		margin-bottom: 3%;
	}
}
/*VALUATION SECTION*/ /*VALUATION SECTION*/ /*VALUATION SECTION*/ /*VALUATION SECTION*/

/*OFFER SECTION*/ /*OFFER SECTION*/ /*OFFER SECTION*/ /*OFFER SECTION*/ /*OFFER SECTION*/

.offer-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.offer-head {
	width: 100%;
	text-align: center;
	color: white;
	padding: 30px;
	font-size: 40px;
	text-decoration: underline;
	text-decoration-color: var(--nike-golden);
}
.offer-cart {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: 2px solid var(--nike-golden);
	background-color: var(--nike-dark-blue);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 2%;
	right: 2%;
	transition: 0.5s;
	cursor: pointer;
}
.offer-cart-img {
	width: 50px;
	height: 50px;
	z-index: 2;
}
.offer-container {
	display: flex;
	flex-wrap: wrap;
	width: 300px;
	justify-content: center;
	padding: 3% 0;
	margin: 1rem;
	border: 1px solid var(--nike-golden);
	border-radius: 25px;
	cursor: pointer;
}
.offer-container:hover {
	border: 1px solid var(--nike-golden-hover);
}

.offer-description-head {
	padding: 3.5%;
	color: white;
	text-align: center;
	width: 100%;
}
.one-line-text {
	margin: 16px 0;
}
.offer-show-container {
	padding: 10px 5% 5% 5%;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 260px;
}

.offer-show-button {
	border: 0px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: var(--nike-golden);
	color: var(--nike-dark-blue);
	cursor: pointer;
}
.offer-show-button img {
	width: 40px;
	padding-top: 15%;
}

.offer-explanation-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.offer-explanation-text {
	color: white;
	text-align: center;
	margin-top: 5%;
	font-size: 1.1em;
	height: 150px;
}

.offer-explanation-cost {
	color: var(--nike-golden);
	text-align: center;
	font-size: 1.4em;
	margin: 5% 0;
	width: 100%;
}
.offer-explanation-button {
	background-color: var(--nike-golden);
	width: 35%;
	height: 30px;
	border: none;
	border-radius: 5px;
	margin-bottom: 5%;
	cursor: pointer;
}

button {
	font-size: 1em;
}

button:hover {
	background-color: var(--nike-golden-hover);
}
button:active {
	background-color: var(--nike-golden-active);
}

@keyframes rotate-button-open {
	100% {
		transform: rotate(180deg);
	}
}
@keyframes rotate-button-close {
	0% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes hide {
	from {
		background-color: var(--nike-light-black);
		height: 320px;
		display: flex;
	}

	80% {
		height: 80px;
	}
	to {
		height: initial;
	}
}
@keyframes show {
	from {
		height: 0px;
	}
	to {
		background-color: var(--nike-light-black);
		height: 320px;
		display: flex;
	}
}

@media screen and (min-width: 1000px) {
	.offer-section {
		padding: 60px;
	}
	.offer-head {
		padding: 60px;
		font-size: 3em;
	}
	.offer-container {
		padding: 3% 0;
		margin: 2rem;
	}
}

@media screen and (min-width: 1200px) {
	.offer-cart {
		width: 100px;
		height: 100px;
		bottom: 4%;
		right: 4%;
	}
	.offer-cart-img {
		width: 75px;
		height: 75px;
		z-index: 2;
	}
	.offer-section {
		padding-bottom: 200px;
	}
}

/*OFFER SECTION*/ /*OFFER SECTION*/ /*OFFER SECTION*/ /*OFFER SECTION*/ /*OFFER SECTION*/

/*SEND VALUATION FORM*/ /*SEND VALUATION FORM*/ /*SEND VALUATION FORM*/ /*SEND VALUATION FORM*/

.valuation-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.valuation-list-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 5%;
}

.valuation-head {
	color: white;
	font-size: clamp(1.2rem, 6vw, 2.2rem);
}
.valuation-img {
	width: 75px;
	margin: 2%;
	cursor: pointer;
}

.valuation-showcase-container {
	margin-top: 30px;
	padding: 2%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	background-color: var(--nike-light-black);
	border-radius: 15px;
}
.valuation-showcase {
	margin: 2%;
	padding: 8%;
	border-radius: 15px;
	background-color: var(--nike-dark-blue);

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	max-width: 260px;
}
.valuation-showcase-img {
	width: 50px;
}
.valuation-showcase-text {
	color: white;
	width: 100%;
	text-align: center;
}

.valuation-cost {
	color: var(--nike-golden);
	text-align: center;
	width: 100%;
	padding: 2%;
	font-size: 24px;
}
.valuation-text {
	color: white;
	margin-top: 20px;
	text-align: center;
}

.send-valuation-container {
	padding-top: 5vh;
	width: 100%;
}
.send-valuation-head {
	text-align: center;
	padding-bottom: 30px;
	font-size: clamp(1.8rem, 7vw, 2.2rem);
}

.form-input-container {
	padding-bottom: 5%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-input,
.form-textarea {
	width: 90%;
	max-width: 300px;
	line-height: 35px;
	color: white;
	background-color: var(--nike-light-black);
	border: 0px;
	border-radius: 5px;
	padding-left: 3%;
	font-size: 1rem;
}
.form-textarea {
	line-height: 0.8rem;
	padding-top: 3%;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: white;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: white;
}
.form-submit-button {
	width: 90%;
	max-width: 400px;
	background-color: var(--nike-golden);
	padding: 14px 28px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

@media screen and (min-width: 375px) {
	.form-textarea,
	.form-input {
		max-width: 400px;
		line-height: 50px;
		font-size: 1rem;
	}
	.form-textarea {
		line-height: 15px;
	}
}
@media screen and (min-width: 500px) {
	.form-textarea,
	.form-input {
		font-size: 1.2rem;
	}
	.valuation-text {
		font-size: 1.2em;
	}
	.valuation-showcase-text {
		font-size: 1.3em;
	}
	.form-input-container {
		padding-bottom: 25px;
	}
	.valuation-showcase-img {
		width: 65px;
	}
	.valuation-showcase {
		padding: 25px;
	}
}

@media screen and (min-width: 1000px) {
	.valuation-section {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.valuation-list-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 5%;
		padding-top: 2%;
		width: 50%;
	}
	.valuation-head {
		font-size: 3vw;
	}
	.send-valuation-head {
		text-align: center;
		padding-bottom: 60px;
	}

	.send-valuation-container {
		width: 50%;
	}

	.form-input-container {
		padding-bottom: 4%;

		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media screen and (min-width: 1100px) {
	.valuation-list-container {
		padding-right: 2%;
	}
	.valuation-list-container {
		width: 65%;
	}
	.send-valuation-container {
		width: 35%;
	}
}
