@import url("https://use.typekit.net/xwb3qfr.css");
:root {
	--nike-light-black: #2b3139;
	--nike-dark-blue: #181a20;
	--nike-golden: #f0b90b;
	--nike-golden-hover: #ffca1c;
	--nike-golden-active: #ddab08;
}

* {
	font-family: acumin-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0;
	margin: 0;
	text-underline-offset: 0.2em;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	background-color: var(--nike-dark-blue);
}

/*VALUATION SECTION*/ /*VALUATION SECTION*/ /*VALUATION SECTION*/ /*VALUATION SECTION*/

.free-valuation {
	background-color: #000;
	border-radius: 0 0 50px 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.free-valuation-head {
	margin: 10% 0;
	color: white;
	width: 90%;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: var(--nike-golden);
}

.free-valuation-container {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	padding: 0 5% 5% 5%;
}

.free-valuation-text {
	color: white;
	padding: 5%;
	font-size: 1.2em;
}

.free-valuation-img {
	width: 75px;
	height: 75px;
}
.call-us-button {
	width: 120px;
	background-color: var(--nike-golden);
	padding: 5px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	margin-bottom: 5%;
}

/*VALUATION SECTION*/ /*VALUATION SECTION*/ /*VALUATION SECTION*/ /*VALUATION SECTION*/

/*OFFER SECTION*/ /*OFFER SECTION*/ /*OFFER SECTION*/ /*OFFER SECTION*/ /*OFFER SECTION*/

.offer-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.offer-head {
	width: 100%;
	text-align: center;
	color: white;
	padding: 30px;
	font-size: 40px;
	text-decoration: underline;
	text-decoration-color: var(--nike-golden);
}

.offer-container {
	display: flex;
	flex-wrap: wrap;
	width: 300px;
	justify-content: center;
	padding: 10% 0;
	margin: 1rem;
}

.offer-description-head {
	padding: 5%;
	color: white;
	text-align: center;
	width: 100%;
}
.one-line-text {
	margin: 17px 0;
}
.offer-show-container {
	padding: 10px 5% 5% 5%;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 260px;
	transition: 1s;
}

.offer-show-button {
	border: 0px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: var(--nike-golden);
	color: var(--nike-dark-blue);
	transition: 0.3s;
}
.offer-show-button img {
	width: 40px;
	padding-top: 15%;
}

.offer-explanation-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	transition: 1s;
}

.offer-explanation-text {
	color: white;
	text-align: center;
	margin-top: 5%;
	font-size: 1.1em;
}

.offer-explanation-cost {
	color: var(--nike-golden);
	text-align: center;
	font-size: 1.4em;
	margin: 5% 0;
	width: 100%;
}
.offer-explanation-button {
	background-color: var(--nike-golden);
	width: 35%;
	height: 30px;
	border: none;
	border-radius: 5px;
	margin-bottom: 5%;
}

button:hover {
	background-color: var(--nike-golden-hover);
}
button:active {
	background-color: var(--nike-golden-active);
}

@keyframes rotate-button-open {
	100% {
		transform: rotate(180deg);
	}
}
@keyframes rotate-button-close {
	0% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes hide {
	from {
		background-color: var(--nike-light-black);
		height: 320px;
		display: flex;
	}

	to {
		height: 0px;
	}
}
@keyframes show {
	from {
		height: 0px;
	}
	to {
		background-color: var(--nike-light-black);
		height: 320px;
		display: flex;
	}
}

/*OFFER SECTION*/ /*OFFER SECTION*/ /*OFFER SECTION*/ /*OFFER SECTION*/ /*OFFER SECTION*/

/*SEND VALUATION FORM*/ /*SEND VALUATION FORM*/ /*SEND VALUATION FORM*/ /*SEND VALUATION FORM*/

.form-input-container {
	display: flex;
	justify-content: center;
	padding-bottom: 8%;
}

.valuation-text-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
	padding: 5%;
}

.send-valuation-head {
	color: white;
	font-size: 6.5vw;
}
.send-valuation-img {
	width: 75px;
}

.valuation-list-container {
	margin-top: 30px;
	padding: 2%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	background-color: var(--nike-light-black);
}
.valuation-list {
	margin: 2%;
	padding: 2%;
	border-radius: 15px;
	background-color: var(--nike-dark-blue);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	max-width: 70%;
	max-width: 260px;
}
.valuation-list-img {
	width: 50px;
}
.valuation-list-text {
	color: white;
	width: 100%;
	text-align: center;
}

.valuation-cost {
	color: var(--nike-golden);
	text-align: center;
	width: 100%;
	padding: 5%;
	font-size: 24px;
}
.valuation-text {
	color: white;
	margin-top: 20px;
}

.form-input,
.form-textarea {
	width: 90%;
	max-width: 300px;
	line-height: 35px;
	color: white;
	background-color: var(--nike-light-black);
	border: 0px;
	border-radius: 5px;
	padding-left: 3%;
	font-size: 1rem;
}
.form-textarea {
	line-height: 0.8rem;
	padding-top: 3%;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: white;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: white;
}
.form-submit-button {
	width: 90%;
	max-width: 400px;
	background-color: var(--nike-golden);
	padding: 14px 28px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

@media screen and (min-width: 375px) {
	.form-textarea,
	.form-input {
		max-width: 400px;
		line-height: 50px;
		font-size: 1rem;
	}
	.form-textarea {
		line-height: 15px;
	}
}
