:root {
	--vd-blue: #181a20;
	--nike-golden: #f0b90b;
}

* {
	padding: 0;
	margin: 0;
}

/* HEADER */ /* HEADER */ /* HEADER */
header {
	background-color: var(--vd-blue);
	display: flex;
	justify-content: space-between;
}
.header {
	width: 100%;
	height: 30vh;
}
/*
.logo img {
	height: 200px;
	max-width: 260px;
}*/

.logo {
	background-image: url(images/Logo_prototype.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 250px;
	height: 250px;
}

.menu-button {
	width: 40px;
	float: right;
	margin-top: -195px;
	margin-right: 5%;
}
.menu-icon {
	background-color: white;
	height: 4px;
	margin: 6px 0;
}
.menu-button:hover > .menu-icon {
	background-color: var(--nike-golden);
}
/* HEADER */ /* HEADER */ /* HEADER */

/*INVITE_SECTION*/ /*INVITE_SECTION*/ /*INVITE_SECTION*/
.page_1 {
	width: 100%;
	height: 30vh;
	top: 0px;
	overflow-y: scroll;

	background-color: black;
}
.row_1 {
	display: flex;
}

.column_1 {
	flex: 50%;
}
.image_1 img {
	position: absolute;
	width: 128.19px;
	height: 134.6px;
	left: 280px;
	top: 250px;

	background-image: ;
}
.tekst_1 {
	position: absolute;
	width: 225.08px;
	height: 24.11px;
	left: 30.14px;
	top: 260px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;

	color: #ffffff;
}
.button_1 {
	width: 20vh;
	background-color: #f0b90b;
	padding: 14px 28px;
	font-size: 16px;
	line-height: 19px;
	font-style: normal;
	border-radius: 5px;
	position: absolute;
	left: 50px;
	top: 390px;
	overflow-y: scroll;
	border: none;
}

/*INVITE_SECTION*/ /*INVITE_SECTION*/ /*INVITE_SECTION*/
