@import url("https://use.typekit.net/xwb3qfr.css");
:root {
	--nike-dark-blue: #181a20;
	--nike-golden: #f0b90b;
}

* {
	font-family: acumin-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0;
	margin: 0;
}

/* HEADER */ /* HEADER */ /* HEADER */
header {
	background-color: var(--nike-dark-blue);
	display: flex;
	justify-content: space-between;
}
.header {
	width: 100%;
	height: 8rem;
}

.logo {
	background-image: url(Images/Logo/Logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 16em;
	height: 100px;
	margin-top: 1rem;
	margin-left: 0.3rem;
	text-indent: -9999px;
}

.menu-button {
	width: 40px;
	float: right;
	margin: -60px 1%;
}
.menu-icon {
	background-color: white;
	height: 4px;
	margin: 6px 0 0 0;
}
.menu-button:hover > .menu-icon {
	background-color: var(--nike-golden);
}

/* The side navigation menu */
.sidenav {
	height: 100%;
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	right: 0; /* Stick to the right */
	padding-top: 100px;
	background-color: var(--nike-dark-blue);
	overflow: hidden; /* Disable horizontal scroll */
	transition: 0.35s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
	margin: 0px 0px 16px 0px;
	text-align: left;
	text-decoration: none;
	font-size: clamp(1.25em, 5vw, 2em);
	color: #ffffff;
	display: block;
	left: 30%;
	position: relative;
}

.sidenav-icon {
	width: 50px;
	height: 50px;
	position: relative;
	top: 45px;
	left: 8%;
}

.sidenav a:hover {
	color: var(--nike-golden);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 40px;
	right: 25px;
	font-size: 2.5em;
	left: initial;
}
@media screen and (min-width: 320px) {
	.sidenav a {
		left: 28%;
	}

	.sidenav-icon {
		left: 5%;
	}
}

@media screen and (min-width: 350px) {
	.logo {
		margin-top: 0.3rem;
		margin-left: 0.5rem;
		height: 90%;
		width: 80%;
	}
	.menu-button {
		margin: -65px 3% 0 0;
	}
}

/* HEADER */ /* HEADER */ /* HEADER */

/*INVITE_SECTION*/ /*INVITE_SECTION*/ /*INVITE_SECTION*/
.invite-section {
	height: 35vh;
	min-height: 280px;
	background-color: black;
}
.invite-row {
	content: "";
	display: table;
	clear: both;
	width: 100%;
}

.invite-column {
	float: left;
	width: 50%;
}

.invite-success-img img {
	height: auto;
	width: 90%;
	max-height: 160px;
	margin-top: 1.5em;
}

.invite-text {
	width: 100%;
	max-width: 160px;
	padding: 1em 1em 0em 1.5em;
	font-size: 0.95em;
	color: #ffffff;
}
.call-us-button {
	width: 120px;
	background-color: #f0b90b;
	padding: 14px 28px;
	font-size: 16px;
	line-height: 8px;
	border-radius: 5px;
	margin: 0.4em 0 0 1.5em;
	border: none;
}

@media screen and (min-width: 350px) {
	.call-us-button {
		margin-top: 1.5em;
	}
}

/*INVITE_SECTION*/ /*INVITE_SECTION*/ /*INVITE_SECTION*/

/*ABOUT_US_SECTION*/ /*ABOUT_US_SECTION*/ /*ABOUT_US_SECTION*/
.about_us-section {
	border-radius: 30px 30px 0px 0px;
	background: white;
	width: 100%;

	margin-top: -75px;
}

.about_us-head {
	text-decoration: underline;
	text-decoration-color: orange;
	text-align: center;
	font-size: 28px;
	line-height: 80px;
	color: #000000;
}
.about_us-text {
	text-align: center;
	font-size: 19px;
	line-height: 23px;

	color: #000000;
}
.professionalists-head {
	text-decoration: underline;
	text-decoration-color: orange;
	text-align: center;
	font-size: 25px;
	line-height: 100px;

	color: #000000;
}
.professionalists-text {
	height: 60px;
	font-size: 19px;
	line-height: 20px;
	margin-left: -68px;

	color: #000000;
}
.competition-image img {
	height: auto;
	width: 100%;
	max-height: 180px;
	max-width: 160px;

	margin-top: -70px;
	margin-left: 95%;
}
.professionalists-row {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.professionalists-column {
	float: left;
	width: 70%;
}
