:root {
	--vd-blue: #181a20;
	--nike-golden: #f0b90b;
}

* {
	padding: 0;
	margin: 0;
}

/* HEADER */ /* HEADER */ /* HEADER */
header {
	background-color: var(--vd-blue);
	display: flex;
	justify-content: space-between;
}
.header {
	width: 100%;
	height: 120px;
}
/*
.logo img {
	height: 200px;
	max-width: 260px;
}*/

.logo {
	background-image: url(images/Logo/Standard/Original\ on\ Transparent.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 250px;
	height: 250px;
	margin-top: 1rem;
	margin-left: 0.3rem;
	margin-left: clamp(0.3rem);
}

.menu-button {
	width: 40px;
	float: right;
	margin-top: -215px;
	margin-right: 3%;
}
.menu-icon {
	background-color: white;
	height: 4px;
	margin: 6px 0;
}
.menu-button:hover > .menu-icon {
	background-color: var(--nike-golden);
}

@media screen and (min-width: 350px) {
	.logo {
		margin-left: clamp(0.3rem, 8vw, 6rem);
	}
	.menu-button {
		margin-right: clamp(0.3rem, 10vw, 10rem);
	}
}

/* HEADER */ /* HEADER */ /* HEADER */

/*INVITE_SECTION*/ /*INVITE_SECTION*/ /*INVITE_SECTION*/
.invite-section {
	height: 35vh;
	background-color: black;
}
.invite-row {
	content: "";
	display: table;
	clear: both;
}

.invite-column {
	float: left;
	width: 50%;
}
.invite-success-img img {
	height: auto;
	width: 100%;
	max-height: 160px;
	margin-top: 1em;
}

.invite-text {
	width: 100%;
	padding: 1em 1em 0em 1.5em;
	font-family: Roboto;
	font-size: 1em;
	color: #ffffff;
}
.call-us-button {
	width: 120px;
	background-color: #f0b90b;
	padding: 14px 28px;
	font-size: 16px;
	line-height: 8px;
	font-style: normal;
	border-radius: 5px;
	margin: 1.5em 0 0 1.5em;
	border: none;
}

/*INVITE_SECTION*/ /*INVITE_SECTION*/ /*INVITE_SECTION*/
