* {
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
}
html,
body {
	height: 100%;
	text-align: center;
	place-items: center;
	background: #dde6f0;
}

.circular {
	margin: auto;
	width: 50%;
	height: 100px;
	width: 100px;
	position: relative;
	border: solid green 1px;
}
.inner {
	position: absolute;
	z-index: 6;
	top: 50%;
	left: 50%;
	height: 90px;
	width: 90px;
	margin: -45px 0 0 -45px;
	background: #181a20;
	border-radius: 100%;
}
.number {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	font-size: 1.5em;
	font-weight: 500;
	color: #fff;
}
.bar {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #181a20;
	-webkit-border-radius: 100%;
	clip: rect(0px, 100px, 100px, 50px);
}
.bar .progress {
	position: absolute;
	height: 100%;
	width: 100%;
	-webkit-border-radius: 100%;
	clip: rect(0px, 50px, 120px, 0px);
	background: #f0b90b;
}
.left .progress {
	z-index: 1;
	animation: left 0.5s ease-in both;
}
@keyframes left {
	100% {
		transform: rotate(180deg);
	}
}
.circle .right {
	transform: rotate(180deg);
	z-index: 3;
}
.circle .right .progress {
	animation: right 0.4s ease-in-out both;
	animation-delay: 0.45s;
}
@keyframes right {
	100% {
		transform: rotate(180deg);
	}
}
